<div class="smart-green" >
<div class="container" ng-controller="AppCtrl">
            <h1>Add New Employee</h1>
            <br>Code: 
			<input type="text" ng-model="emp.code" name="code"/><br />
             <br>Name:
			<input type="text" ng-model="emp.name" name="name" /><br />
             <br>City:
			 <input type="text" ng-model="emp.city" name="city" /><br />
            <br> <input type="button" ng-click="add()" value="ADD" class="btn btn-link" id="SubmitEmployee"/> </br>
</div>    
</div>